*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
.wrapper .main_content{
    width: 100%;
   
    
  }
  
  .wrapper .main_content .header{
    padding: 10px;
    background: #fff;
    color: #717171;
    
  }

  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    
}

.main_content li{
  padding: 1%;
}

.main_content li a{
  display: block;
  color: #2A2E4A;
}