
<div class="principal">
    <h1>Consultas / 1ª Consulta / João Torres</h1>
    <button>Concluir</button>
</div> 
        <div class="buttons">
            <div class="item"><i class="fas fa-user"></i><p>Identificação</p></div>
            <div class="item"><i class="fas fa-user"></i><p>Consulta Nutrição</p></div>
            <div class="item"><i class="fas fa-user"></i><p>Nutricoaching</p></div>
            <div class="item"><i class="fas fa-user"></i><p>Análise Genética</p></div>
            <div class="item"><i class="fas fa-user"></i><p>Diário Alimentar</p></div>
            <div class="item"><i class="fas fa-user"></i><p>Agendamentos</p></div>
        </div>
 <div class="line">
    <hr>
</div>