 

<div class="wrapper">
 <div class="main_content">
<div class="buttons1">
            <div class="item"><p>História Clínica
                e Alimentar</p>
            </div>
            <div class="item"><p>Antropometria</p></div>
            <div class="item"><p>Cálculos
                Nutricionais</p></div>
            <div class="item"><p>Plano Alimentar</p></div>
            <div class="item"><p>Entregáveis</p></div>
            
            <div class="item" style="color:#000;"><p></p>
                <h1>João Torres</h1>
                <h1>Nº 0728</h1>
                <div class="grid">
                    <h2>57</h2>
                    <h2>170</h2>
                    <h2>anos</h2>
                    <h2>cm</h2>
                </div>
                <div class="icon1">
                <i class="fas fa-balance-scale"></i>
                <h2>Peso Total 98kg</h2>
                </div>
                <div class="line1">
                <hr>
                </div>
                <div class="icon2">
                <i class="fas fa-balance-scale"></i>
                <h2>Peso Objetivo 80kg</h2>
                </div>
                <div class="line2">
                    <hr>
                    </div>
                <div class="objetivos">
                    <h1>Objetivo:</h1>
                    <ul>
                    <li>Peso para a próxima
                        consulta: 96kg</li>
                    <li>Comer menos hidratos
                        de carbono</li>
                    <li>Escrever objetivos
                    </li>
                    </ul>
                </div>
                <div class="progressão">
                    <h1>Progressão</h1>
                    <div class="grafico">
                        <div class="item"><p>1</p></div>
                        <div class="item"><p>2</p></div>
                        <div class="item"><p>3</p></div>
                        <div class="item"><p>4</p></div>
                        <div class="item"><p>5</p></div>
                        
                    </div>
                    <div class="line5">
                        <hr> 
                    </div>
                    
                </div>        
            </div>

 
  <div class="item"><p></p>
  

                <h1>História Clínica</h1><br><br> 
                <mat-form-field class="example-full-width" color="warn">
                <mat-label>Motivo da Consulta</mat-label>
                <input matInput value="Perder Peso">
                </mat-form-field>
                 <mat-form-field class="form2" color="warn">
                <mat-label>Objetivo pretendido</mat-label>
                <input matInput value="kg">
                </mat-form-field> 
                <br>   
                 <mat-form-field class="form3" color="warn">
                <mat-label>Histórico de dietas</mat-label>
                <input matInput value="Nenhum">
                </mat-form-field>  
                <div class="line">
                 <hr>
                </div>
                <div class="text">
                <h4>Doenças familiares</h4>
                </div>
                <div class="text1">
                <h4>Antecedentes Clínicos</h4>
                </div>
                <div class="text2">
                <h5>O cliente tem Diabetes,  Colestrol,<br>
                Doença renal, Doença oncológica?</h5>
                </div>
                <div class="check1">
                <mat-checkbox color="warn">Hipertensão arterial</mat-checkbox>
                <mat-checkbox color="warn">Patologias Gastrointestinais</mat-checkbox>
                </div>
                <br>
                <div class="check2">
                <mat-checkbox color="warn">Dislipidemia</mat-checkbox>
                <mat-checkbox color="warn">Patologia da tiróide</mat-checkbox>
                </div>
                <br>
                <div class="check3">
                <mat-checkbox color="warn">Hiperuricemia</mat-checkbox>
                <mat-checkbox color="warn">Diabetes</mat-checkbox>
                </div>
                <br>
                <div class="check4">
                <mat-checkbox color="warn">Patologias Cardiovasculares</mat-checkbox>
                <mat-checkbox color="warn">Patologias psiquiátricas</mat-checkbox>
                </div>
                <br>
                <div class="check5">
                <mat-checkbox color="warn">Patologias respiratórias</mat-checkbox>
                </div>
                <mat-form-field class="form3" color="warn">
                <mat-label>Outra</mat-label>
                <input matInput value="Introduzir patologia">
                </mat-form-field>  
                <mat-form-field class="form3" color="warn">
                <mat-label>Cirurgias</mat-label>
                <input matInput value="Introduzir">
                </mat-form-field> 
                <br> 
                <div class="text3">
                <h4>Medicação e Suplementação</h4>
                </div>
                <mat-radio-group class="radio">
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                <div class="line">
                 <hr>
                </div>
                <div class="text4">
                <h4>Mobilidade e Estilo de Vida</h4>
                </div>
                 <mat-form-field class="form4" color="warn">
                <mat-label>Stress</mat-label>
                <input matInput value="Moderado">
                </mat-form-field>  
                <div class="text7">
                <h5>Vícios e hábitos do cliente</h5>
                </div>
                 
                
                <mat-radio-group class="radio1">
                <h4>Hábitos de actividade física</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                 <mat-radio-group class="radio1">
                <h4>Hábitos tabágicos</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                 <mat-radio-group class="radio1">
                <h4>Ingestão de cafeína</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                 <mat-radio-group class="radio1">
                <h4>Bebidas alcóolicas</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                <mat-form-field class="form3" color="warn">
                <mat-label>Horas de sono</mat-label>
                <input matInput value="7-8h">
                </mat-form-field>  
                <mat-form-field class="form3" color="warn">
                <mat-label>Funcionamento Intestinal</mat-label>
                <input matInput value="Diário">
                </mat-form-field> 
                <mat-radio-group class="radio1">
                <h4>Retenção de líquidos</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                 <mat-radio-group class="radio1">
                <h4>Má circulação</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                <mat-form-field class="form3" color="warn">
                
                <input matInput value="Nota">
                </mat-form-field> 
                <div class="line">
                 <hr>
                </div>
                <div class="text">
                <h4>Análises Clínicas</h4>
                </div>
                <div class="text6">
                <h4>Colestrol</h4>
                </div>
                <mat-form-field class="form7" color="warn" >
                    <input matInput [matDatepicker]="myDatePicker" color="warn">
                     <mat-datepicker-toggle [for]="myDatePicker" color="warn"></mat-datepicker-toggle>
                     <mat-datepicker #myDatePicker color="warn"></mat-datepicker>
                </mat-form-field>
                 <mat-form-field class="form6" color="warn">
                <input matInput value="Nota">
                </mat-form-field> 
                <div class="paragrafo">
                <h5>Adicionar novo parâmetro</h5>
                </div>
                <div class="line">
                 <hr>
                </div>
                 <div class="text4">
                <h4>Inquérito Alimentar</h4>
                </div>
                 <mat-form-field class="form4" color="warn">
                <mat-label>Alergias alimentares</mat-label>
                <input matInput value="Inserir">
                </mat-form-field>  
                <div class="text7">
                <h5>Rotinas e restrições alimentares do <br>
                cliente</h5>
                </div>
                <mat-form-field class="form3" color="warn">
                <mat-label>Intolerâncias alimentares</mat-label>
                <input matInput value="Inserir">
                </mat-form-field> 
                <mat-form-field class="form3" color="warn">
                <mat-label>Alimentos preferidos</mat-label>
                <input matInput value="Inserir">
                </mat-form-field> 
                <mat-form-field class="form3" color="warn">
                <mat-label>Alimentos preteridos</mat-label>
                <input matInput value="Inserir">
                </mat-form-field> 
                <mat-form-field class="form3" color="warn">
                <mat-label>Altura em que sente mais fome?</mat-label>
                <input matInput value="Inserir">
                </mat-form-field> 
                 <mat-radio-group class="radio1">
                <h4>Sintomatologia refluxo gastro-esofágico?</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                 <mat-radio-group class="radio1">
                <h4>Tem tendência para petiscar?</h4>
                    <mat-radio-button value="nao" color="warn" >Não</mat-radio-button>
                     <mat-radio-button value="sim" color="warn">Sim</mat-radio-button> 
                </mat-radio-group>
                <div class="paragrafo1">
                <h5>Frequência de ingestão de:</h5>
                
                </div>
                <div class="check6">
                <mat-checkbox color="warn">Doces</mat-checkbox>
                <mat-checkbox color="warn">Fritos</mat-checkbox>
                <mat-checkbox color="warn">Refrigerantes</mat-checkbox>
                <mat-checkbox color="warn">Bebidas alcoólicas</mat-checkbox>
                </div>
                <div class="check7">
                <mat-checkbox color="warn">Enchidos</mat-checkbox>
                <mat-checkbox color="warn">Açúcar</mat-checkbox>
                </div>

                <div class="line">
                 <hr>
                </div>
                <section class="diario">
                    <h4>Diário Alimentar</h4>
                    <i class="far fa-clock"></i>
                    <h4>Hora habitual acordar</h4>
                    <h4>00:00h</h4>
                    <i class="far fa-moon"></i>
                    <h4>Hora habitual deitar</h4>
                    <h4>00:00h</h4>
                </section>
                <section class="diario1">
                    <p>Rotinas alimentares do cliente</p>
                    
                </section>
                <div class="table">
                <div class="item">
                    <div class="lado1">
                    <h4>Pequeno-almoço</h4>
                    <h4>08:00h</h4>
                    <i class="far fa-trash-alt"></i>
                </div>
                </div>
                <div class="item">
                    <div class="lado2">
                        <i class="fas fa-bold"></i>
                        <i class="fas fa-underline"></i>
                        <i class="fas fa-list-ol"></i>
                        <i class="fas fa-list-ul"></i>
                    </div>
                </div>    
                <div class="item">
                    <div class="lado3">
                    <h4>Iniciar  o dia com 1/2 copos de água</h4>
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                </div>
                </div>
                </div>
                <div class="table1">
                <div class="item">
                    <div class="lado1">
                        <h4>Almoço</h4>
                        <h4>13:00h</h4>
                        <i class="far fa-trash-alt"></i>
                </div>
                </div>        
                
                <div class="item">
                <div class="lado2">
                    <i class="fas fa-bold"></i>
                    <i class="fas fa-underline"></i>
                    <i class="fas fa-list-ol"></i>
                    <i class="fas fa-list-ul"></i>
                </div>
            </div>
                <div class="item">
                    <div class="lado4">
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                </div>
                </div>
                </div>
                
                <div class="table1">
                    <div class="item">
                        <div class="lado1">
                            <h4>Lanche</h4>
                            <h4>17:00h</h4>
                            <i class="far fa-trash-alt"></i>
                    </div>
                    </div>
                <div class="item">
                    <div class="lado2">
                        <i class="fas fa-bold"></i>
                        <i class="fas fa-underline"></i>
                        <i class="fas fa-list-ol"></i>
                        <i class="fas fa-list-ul"></i>
                    </div>
                </div>
                <div class="item">
                    <div class="lado4">
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                </div>
                </div>
                </div>
                <div class="table1">
                        <div class="item">
                            <div class="lado1">
                                <h4>Jantar</h4>
                                <h4>20:00h</h4>
                                <i class="far fa-trash-alt"></i>
                        </div>
                        </div>
                <div class="item">
                    <div class="lado2">
                        <i class="fas fa-bold"></i>
                        <i class="fas fa-underline"></i>
                        <i class="fas fa-list-ol"></i>
                        <i class="fas fa-list-ul"></i>
                    </div>
                </div>
                <div class="item">
                    <div class="lado4">
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                    <p>- 1 Chávena de leite magro sem lactose (200ml) com café</p>
                    </div>
                      
                </div>   
  </div>   
 </div>
 
 </div>  
          
</div>

</div>
<div *ngIf = "!isDisplay">
</div>
<button (click) = "toggleDisplay()">Toggle</button>  